@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* Matt Cooper - Section 001
 *@

<div class="text-center">

    <h1>The Joel Hilton Film Collection</h1>
    <br /><br />
    <img src="~/lib/headshot.jpeg"/>


</div>
